.button {
    @apply rounded p-2 duration-150;
    @apply hover:bg-slate-200;
}

.container {
    @apply bg-slate-100 shadow-lg;
}

.header {
    @apply py-4 flex justify-between max-w-5xl mx-auto items-center z-50 relative;
}

.title {
    @apply text-xl;
    font-family: 'Montserrat', sans-serif;
}

.appDownload {
    @apply text-center text-white bg-blue-600 ml-4 px-6 py-2 rounded-md hover:bg-blue-800 duration-150;
}

.rightSection {
    @apply flex items-center justify-center;
}

.centerSection a {
    @apply mx-2 font-bold;
}

.link {
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .link {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .link {
        font-size: 0.6rem;
    }
}