.container {
  @apply mx-auto max-w-screen-2xl;
}

.profileContainer {
  text-align: center;
  @apply mb-3 text-2xl font-bold;
  font-weight: bold;
}

.text {
  text-align: center;
  font-weight: bold;
  margin-bottom: 75px;
}

.table {
  @apply max-w-4xl mx-auto my-12;
}

.title {
  @apply mb-3 text-2xl font-bold;
}

.subtitle {
  @apply mb-3 text-lg font-bold;
}

.hero {
  @apply relative flex flex-col items-center justify-center object-cover object-center w-full overflow-hidden text-white h-72 bg-slate-900;
}

.hero h1 {
  @apply z-10 text-5xl font-bold text-center;
  font-family: "Montserrat", sans-serif;
}

.hero span {
  @apply z-10 mb-4 text-xl text-center uppercase;
}

.team {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 25px;
  margin-top: 25px;
}

.additionalText {
  font-weight: bold;
  font-size: large;
}

.pInput {
  @apply rounded-lg px-4 py-2 mb-2 !important;
  background: #e9f0f2 !important;
}

.pOrgaInput {
  @apply rounded-lg px-4 py-2 mb-2 mt-2 !important;
  background: #e9f0f2 !important;
  text-align: left;
}

.button {
  background: #62b6cb !important;
  color: #fff;
  @apply rounded-full px-8 duration-300 !important;
  margin-top: 10px;
}

.addOrganisationUserInput {
  @apply w-full rounded-lg !important;
  background: #e9f0f2 !important;
}

.addOrganisationContainer {
  @apply flex justify-end w-full mx-auto;
}

.labelCenter {
  @apply mb-2 text-xl font-bold text-center;
}

.labelMargin {
  @apply mt-32 mb-2 text-xl font-bold;
}

.label {
  @apply mb-2 text-xl font-bold;
}

.pOrganisationInput {
  @apply px-4 py-2 my-4 mb-2 rounded-lg;
  background: #e9f0f2 !important;
}

.leftAlignedButton {
  text-align: left;
}
