.container {
    @apply max-w-5xl mx-auto py-24;
}

.text {
    @apply text-justify mb-6;
}

.title {
    @apply text-2xl font-bold mb-3;
}

.subtitle {
    @apply text-lg font-bold mb-3;
}

.hero {
    @apply w-full h-72 object-cover object-center bg-slate-900 text-white flex flex-col justify-center items-center overflow-hidden relative;
}

.hero h1 {
    @apply text-5xl font-bold text-center z-10;
    font-family: 'Montserrat', sans-serif;
}

.hero span {
    @apply text-xl text-center uppercase mb-4 z-10;
}

.team {
    @apply rounded-2xl shadow-2xl;
}

.link {
    @apply underline inline-block;
}

.card {
    @apply rounded-xl shadow-xl;
    background: #E9F0F2;
}

.cardTitle {
    @apply text-2xl font-bold pt-8 pb-3 text-center;
}

.cardDescription {
    @apply text-center pb-8;
}

.cardFeature {
    @apply my-4 mx-8 py-3 px-6 rounded-lg flex justify-between items-center;
    background: #D4DCDE;
}

.cardFeatureIcon {
    color: #0ABC51;
}

.cardPrice {
    @apply text-2xl font-bold py-8 flex justify-center items-center;
}

.cardPriceNumber {
    @apply mr-2;
}

.cardPriceButton {
    @apply ml-2;
}

.prices {
    @apply grid grid-cols-1 md:grid-cols-2 gap-8 mt-12;
}

.title {
    @apply text-3xl font-bold text-center pt-24;
}

.table {
    @apply max-w-4xl my-12 mx-auto;
}

.editIcon {
    @apply text-xl cursor-pointer duration-300 mr-2;
    color: #62B6CB !important;
}

.editIcon:hover {
    color: #478ea0 !important;
}

.deleteIcon {
    @apply text-xl cursor-pointer duration-300 ml-2;
    color: #FB9090 !important;
}

.deleteIcon:hover {
    color: #c76a6a !important;
}

.badge {
    @apply rounded-lg px-2 py-1 mr-4;
}

.addContainer {
    @apply flex justify-end w-1/3 mx-auto;
}

.addInput {
    @apply mr-4 rounded-lg !important;
    background: #E9F0F2 !important;
}

.addButton {
    background: #62B6CB !important;
    color: #fff;
    @apply rounded-full px-8 duration-300 w-full;
}

.addButton:hover {
    background: #488d9e !important;
}

.label {
    @apply text-xl font-bold mb-2;
}

.pInput {
    @apply rounded-lg px-4 py-2 mb-2 !important;
    background: #E9F0F2 !important;
}

.lastActivities {
    @apply flex flex-col;
}

.addOrganisationUserInput {
    @apply w-full rounded-lg !important;
    background: #E9F0F2 !important;
}

.addOrganisationContainer {
    @apply flex justify-end w-full mx-auto;
}

.labelCenter {
    @apply text-xl font-bold mb-2 text-center;
}

.labelMargin {
    @apply text-xl font-bold mb-2 mt-32;
}

.pOrganisationInput {
    @apply rounded-lg px-4 py-2 mb-2 my-4;
    background: #E9F0F2 !important;
}